##############################
## Folders                  ##
##############################


##############################
## PYCHARM conf            ##
##############################
*.xml
*.iml
*.pyc
